.projectcard_container {
    background-color:#3b3b3b;
    border-radius: 20px;
    border: 3px solid orange;
    box-shadow: 0 0 10px grey;
    position: relative;
    overflow: hidden;
    cursor: pointer;

    .img_container{
        position: relative;

        .card_img{
            display: block;
            max-width: 100%;
        }
    }
    
    .card_title {
        padding: 10px;
        position: absolute;
        top: 5px;
        left: 50%; 
        transform: translateX(-50%);
        font-size: 1rem;
        text-align: center;
    }

    .card_description_container{

        padding: 10px;
        position: absolute;
        width: 100%;
        bottom: 5px;
        left: 50%; 
        transform: translateX(-50%);
        visibility: collapse;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;


        .card_description {
            padding: 10px;
            bottom:10px;
            left: 10px;
            font-size: 1rem;
        }
    }

    transition: transform 300ms, background-color 500ms;
    transition-timing-function: ease-in-out;
}



.projectcard_container:hover{
    background-color: blueviolet;
    transform: scale(1.1,1.1);
    
    .card_description_container{
        visibility: visible;
    }
}