.projectcard_container {
    background-color:#3b3b3b;
    border-radius: 20px;
    border: 3px solid orange;
    box-shadow: 0 0 10px grey;
    position: relative;
    overflow: hidden;
    cursor: pointer;

    .img_container{
        position: relative;

        .card_img{
            display: block;
            max-width: 100%;
        }
    }
    
    .card_title {
        padding: 10px;
        position: absolute;
        top:0;
        font-size: 1rem;
        writing-mode: vertical-lr;
        text-orientation: upright;
    }

    .card_link_icon {
        position: absolute;
        bottom: 3%;
        right: 3%;
        visibility: hidden;
    }

    transition: transform 300ms, background-color 500ms;
    transition-timing-function: ease-in-out;
}



.projectcard_container:hover{
    background-color: blueviolet;
    transform: scale(1.1,1.1);

    .img_container{
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    }
    
    .card_link_icon {
        visibility: visible;
    }
}

@media (max-width: 600px) {
    .projectcard_container .card_title {
        writing-mode: inherit;
    }
}