.projects{
    width: 100%;
    display: flex;
    flex-direction: column;

    .projects_title {
        padding: 5% 5% 1% 5%;
        font-size: 3rem;
        color: orange;
    }

    .projects_title:last-of-type{
        padding: 1% 5% 2.5% 5%;
    }

    .cards_grid {
        align-self: center;
        padding: 5%;
        width: 90%;
        display: grid;
        place-items: center center;
        gap: 40px;
        grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
    }
}

@media (max-width: 625px) {
    .projects .cards_grid {
        grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    }
}

@media (max-width: 465px) {
    .projects .cards_grid {
        grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    }
}