.navBar{
    display: flex;
    position: fixed;
    z-index: 1; 
    width: 100%;
    top: 0;
    color: white;

    .brand_logo{
        width: 20%;
        display: flex;
        justify-content: center;
        padding: 10px;
        font-family: Tangerine, sans-serif;
        font-size: xx-large;
        color: orange;
    }
    .nav_buttons{
        width: 40%;
        display: flex;
        justify-content: center;
        .nav_button{
            padding: 10px;
            margin: auto 2%;
            cursor: pointer;
            text-decoration: none;
            color: white;
            transition: color 200ms, border-color 200ms;
        }
        .nav_button:hover{
            border-bottom: 2px solid rgb(255, 255, 255);
            color: orange;
            border-color: orange;
        }
    }
    .connect_button{
        width: 20%;
        display: flex;
        justify-content: center;
        padding: 10px;
        font-size: xx-large;
        margin: auto;
        cursor: pointer;
        text-decoration: none;
        color: white;
        transition: color 200ms ease-in-out;
    }
    .connect_button:hover{
        color: orange;
    }
}
