.navBar {
    display: flex;
    z-index: 1;
    width: 100%;
    top: 0;
    left: 0;
    color: white;
    position: fixed;

    .brand_logo {
        width: 20%;
        display: flex;
        justify-content: center;
        padding: 10px;
        font-weight: 800;
        font-family: Tangerine, sans-serif;
        font-size: 2rem;
        color: orange;
        white-space: nowrap;
    }

    .nav_buttons {
        width: 80%;
        display: flex;
        justify-content: center;
        opacity: 1;
        transition: visibility 200ms linear, opacity 200ms linear;

        .nav_wrapper {
            display: flex;
            justify-content: center;
            width: 70%;

            .nav_button {
                padding: 10px;
                margin: auto 2%;
                cursor: pointer;
                text-decoration: none;
                color: white;
                transition: color 200ms, border-color 200ms;
            }

            .nav_button:hover {
                border-bottom: 2px solid rgb(255, 255, 255);
                color: orange;
                border-color: orange;
            }
        }

        .connect_button {
            width: 30%;
            display: flex;
            justify-content: center;
            padding: 10px;
            font-size: xx-large;
            margin: auto;
            cursor: pointer;
            text-decoration: none;
            color: white;
            transition: color 200ms ease-in-out;
        }

        .connect_button:hover {
            color: orange;
        }

    }

    .menu_button {
        display: none;
        visibility: hidden;
    }

}

@media (max-width: 800px) {
    .navBar {
        .nav_buttons {
            position: fixed;
            width: 100vw;
            height: 100vh;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background: rgba(0, 0, 0, 0.8);
            opacity: 0;
            visibility: hidden;

            .nav_wrapper {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin-top: auto;
            }


            .exit_nav_button {
                display: block;
                background-color: transparent;
                border: none;
                font-size: 2rem;
                color: orange;
                padding: 10px;
            }
        }

        .menu_button {
            display: block;
            visibility: visible;
            margin: auto;
            margin-right: 5%;
            background-color: transparent;
            border: none;
            font-size: 2rem;
            color: orange;
            padding: 10px;
        }

    }
}