/* Default CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-image: radial-gradient(circle,#3b3b3b, #252525) !important;
  color: rgb(228, 228, 228) !important;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

.app {
  margin-top: 60px;
  margin-left: 40px;
  margin-right: 40px;
  background-color: rgb(22, 22, 22);
  border-radius: 50px 50px 0px 0px;
  overflow: hidden;
}

::-webkit-scrollbar {
  display: none;
}
