/* Default CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  color: rgb(228, 228, 228) !important;
  font-family: 'Fredoka', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

h3, h4, h5, h6 {
  font-weight: 200;
}

.app {
  padding-left: 10%;
  padding-right: 10%;
  background-image: radial-gradient(circle,#222222, rgb(22, 22, 22)) !important;
  overflow: hidden;
}

::-webkit-scrollbar {
  display: none;
}
