.banner {
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 100vh;
    font-size: x-large;

    .presentation_container {
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .top_container {
            height: 50%;
            display: flex;
            justify-content: center;

            .text_wrapper {
                align-self: flex-end;

                .text {
                    margin: auto;
                    padding-left: 15px;
                    border-left: 3px solid orange;
                }
            }
        }

        .bottom_container {
            width: 100%;
            display: flex;
            justify-content: center;
            height: 50%;
            padding-top: 5%;
            flex-direction: column;
            align-items: center;
            position: relative;

            .scroll_text {
               
            }

            .scroll_line {
                position: absolute;
                left: calc(50% - 1px);
                width: 2px;
                top: 300px;
                bottom: 0px;
                background-color: white;
            }
        }
    }

    .image_container {
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        .face_image {
            flex-shrink: 0;
            min-width: 100%;
            min-height: 100%
        }
    }
}